h1 {
	margin: 0 0 45px 0;
}

.login {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%
}

.login_content {
	display: block;
	text-align: center;
}

.login button {
	width: 30%
}
